---
layout: default
title: Arturo Villa
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="http://i.imgur.com/LpLHEBI.png" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Arturo Villa</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              una especie de músico
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>Acerca de</h4>
        <p>Arturo Villa es un ex-guitarrista/bajista/baterista de varias bandas y proyectos, adentrándose en el mundo de la música desde la adolescencia, más que en cualquier otra cosa, pasando por las escenas de metal underground hasta propuestas más comerciales, lo que lo ha llevado al descubrimiento de sonidos exquisitos y extremos. Actualmente se encuentra experimentando integrando diversos géneros en su propia <a href=https://www.youtube.com/channel/UCIGNXuRgJ1JSgTY_aiZZX5w><b>música</b></a>.

<br><center>
<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/158498911&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</center><br>

[**Diseñador industrial**](https://www.behance.net/arturo_villa) de formación y aficionado de la [**ilustración digital**](https://www.facebook.com/arturo.villa.illustrations), Arturo ha ganado diversos reconocimientos en estos otros ámbitos creativos, y en los que también ha tenido la oportunidad de mezclar con sus inquietudes dentro de la música mediante la creación de instrumentos musicales.

<br><Center>
<img src="https://m2.behance.net/rendition/pm/4917885/disp/541965123ac2ae17363bea82fde69b79.jpg">
</center><br>

<br><center>
<iframe width="640" height="360" src="https://www.youtube.com/embed/iHlDfX_tK_I" frameborder="0" allowfullscreen></iframe>
</center><br>

Este blog está aquí para compartir algunas de sus ideas, creaciones y opiniones sobre todo lo relativo a la creación de este arte.</p>
      </div>
    </div>
  </section>
</article>
<hr/>

{% include footer.html %}
 {% include analytics.html %}
